body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: indianred;
}

.Calculator {
    background-color: black;
    padding: 30px;
    border-radius: 10px;
}

.buttons{
    width: 282px;
}

.button {
    background-color: antiquewhite;
}