body{
    background-color:#df7676;
    padding: 40px;
    font-family: sans-serif;
    line-height: 1.9rem;
}

.accordian {
    background-color:wheat;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #df7676;
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 20px;
    transition: transform 0.5s;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: dimgrey;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ;
}

